@font-face {
    font-family: retro;
    src: url(Font/retro.ttf);
 }


.intro{
    text-align: center;
    font-family: retro;
    margin-top: 80px;
}

.nav-bar{
    text-align: center;
   
}

.nav-bar ul a{
    text-decoration: none;
    color: black;
}

ul{
    display: inline;
    font-family: retro;
   
}

.background
{
    width:100%;
    
}

