/* font import */
@font-face {
    font-family: retro;
    src: url(Font/Gilgan.otf);
  
 }

 /* variable color palette */
:root{

  --background: #31333B;
  --text:#F8F8F9;
  --highlight:#F0BF6C;
  --button:#3D3E42;
}

 html
 {
  max-width: 1000px;
  margin: auto;
  background: var(--background);
  /* border: 2px solid green; */
 
 }
 
 ul {

    overflow: hidden;
    text-align: center;
  
  }
  
  li {
    display: inline-block;
    
  }
  
  li a {
    
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    color: var(--text);
    font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
  }

  li a:hover
  {
    color: var(--highlight);
    transform: scale(1.1);
  }

.logo img
{
  position: absolute;
  width: 100px;
  float: left;

}

.intro{
  margin-top: 200px;
  margin-left: 30px;
    color: var(--text);
    text-align: left;
    font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 2px;
   
  
}

.top
{
  border-radius: 5px;
  padding:10px;
  background-color: var(--button);
  box-shadow: 2px 3px 4px rgba(0,0,0,0.5);
}

.social
{
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.btn {
  display: block;
  left: 90%;
  width:40px;
  margin: 20px;
  border-radius: 100%;
  border: 0.5px solid var(--text);
  background-color: transparent;
  box-shadow:-5px 5px 15px -5px var(--highlight); 
  overflow: hidden;
  position: relative;
  transition: 0.3s linear;
}

.btn i {
  line-height: 40px;
  font-size: 20px;
  transition: 0.3s linear;
}

.btn:nth-child(1) i {
  color:#6e5494
}

.btn:nth-child(2) i {
  color:#0077b5;
}

.btn:nth-child(3) i {
  color:#25d366;
}



.btn:hover {
  transform: scale(1.1);
}

.btn:hover i {
  transform: scale(1.2);
  color: #fff;
}

.btn:before {
  content:"";
  position:absolute;
  width:120%;
  height:120%;
  transform: rotate(45deg);
  left: -110%;
  top:90%;
}

.btn:nth-child(1)::before {
  background:#6e5494;
}

.btn:nth-child(2)::before {
  background: #0077b5;
}

.btn:nth-child(3)::before {
  background: #25d366;
}



.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

.contact
{
  border: 3px solid var(--highlight);
  background: transparent;
  color: var(--highlight);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 10px;
  font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}


.vl {
  border-left: 2px solid var(--highlight);
  height: 60px;
  position: absolute;
  left: 94%;
}



.about
{
  color: var(--text);
  font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

.about_text
{
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 150%;
  margin-top:50px;
}


.skill
{
  color: var(--text);
  font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-top: 100px;
  text-align: center;
}


.column {
  float: left;
  width: 22.99%;
  padding: 15px;
  margin:10px;
  background-color: var(--button);
  border-radius: 10px;
}

.column:hover
{
  background-color:var(--highlight);
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: none;
  display: table;
 
}
.img
{
  width: 80px;
 margin-top: 20px;
}

.img:hover{
  z-index:1;
    transform:rotate(6deg) scale(1.50);
    -webkit-transform:rotate(6deg) scale(1.50);
    -moz-transform:rotate(6deg) scale(1.50);
    -ms-transform:rotate(6deg) scale(1.50);
}

.name
{
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-family:  "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: var(--text);
}

/* .experience
{
  background-color: var(--button);
  padding:10px;
  border-radius: 5px;
  color: var(--text);
} */



.container {
  width: 677px;
  margin: 0px auto 0px auto;
  position: relative;
  padding-bottom: 30px;

}

.container::before {
  content: "";
  display: block;
  width: 3px;
  background-color: white;
  top: 35px;
  bottom: 0;
  left: 119px;
  position: absolute;
}

.size
{
  font-size: 21px;
 line-height: 40px;
}

.main {
  width: 532px;
  height: inherit;  /*inherit to adjust height on the length of text */
  padding-bottom: 55px;
  margin-left: auto;
  border-radius: 5px;
  position: relative;
  top: 0px;
  letter-spacing: 1.2px;
  line-height: 150%;
  color: #b8b8b8;;
}



.aside {
  width: 14.5%;
  height: 100%;
  margin-right: auto;
  text-align: right;
  position: absolute;
  top: 0px;
}

.date {
  color: var(--text);
  font-size: 22px;
  position: relative;

}

.date::before {
  content: "";
  height: 0;
  width: 0;
  border-radius: 37px;
  position: absolute;
  left: 105.4px;
  top: -2px;
  z-index: -1;
}

.date::after {
  content: "";
  height: 0;
  width: 0;
  border: 11px solid var(--highlight);
  border-radius: 37px;
  position: absolute;
  left: 109.4px;
  top: 2px;
  z-index: 0;
  animation: pulse 2s infinite;
}

p {
  color: #b8b8b8;
}

h2 {
 padding-left: 30px;
 font-size: 30px;
  font-weight: bold;
  color: var(--text);
}


.detail {
  padding-left: 30px;
} 

.experience {
 
  position: relative;
  padding: 50px;
  background-color: var(--button);
  border-radius: 5px;
  color: var(--text);

}

.experience> .title {
  color: var(--text);
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 18px;
  transform: translateY(-50%);
}

.work
{
  list-style-position: outside;
  list-style: square;
  text-align: left;
  font-family:"acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif ;
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
    box-shadow: 0 0 30px 5px var(--highlight);
	}

	70% {
		transform: scale(1);
    box-shadow: 0 0 30px 5px var(--highlight);
	}

	100% {
		transform: scale(0.85);
    box-shadow: 0 0 30px 5px var(--highlight);
	}
}





.contact_detail
{
  width: 350px;
  height: 70px;
  text-align: center;
  margin:20px;
  padding:20px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
  background-color: var(--background);
  color: var(--highlight);
  border-radius: 20px;
  display: inline-block;

}

.contact_me
{
  
  text-align: center;
  border-radius: 5px;
  color: var(--text);
  position: relative;
  padding: 50px;
  background-color: var(--button);


}

.contact_me > .title {
  color: var(--text);
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 400px;
  font-size: 18px;
  transform: translateY(-50%);

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}




.end
{
  color: var(--highlight);
  text-align: center;
  margin:50px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  
}

.end
{
  display: flex;
  flex-direction: row;
  color: var(--text);
}

.end::before, .end::after
{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid var(--highlight);
 margin: auto;

}

.end::before
{
  margin-right:10px;

}
.end::after
{
  margin-left:10px;
}

.portfolio
{
  text-align: center;
color: var(--text);
margin-bottom: 300px;
}

.row_portfolio {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  padding-bottom: 20px;
  border: 2px dashed var(--highlight);

}

.column_portfolio {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 48%;
  padding: 0 10px;

}

.column_portfolio img {
  margin-top: 20px;
  vertical-align: middle;
  width: 100%;
}

.row_portfolio:hover
{
  transition: margin 0.2s ease-in-out;
}



@media screen and (max-device-width:450px) 
{

  .logo img
{
  width: 12%;
  

}

  .column {
    float: left;
    width: 306px;
    padding: 15px;
    margin:10px;
    background-color: var(--button);
    border-radius: 10px;
  }
  
  .about_text
  {
    font-size: 30px;
  }
  
 .name
 {
  font-size: 22px;
 }

 .btn {

  width:60px;
  height: 60px;
 
}
.btn i {
  line-height: 60px;
  font-size: 35px;
 
}
.vl {
  border-left: 3px solid var(--highlight);
  left: 95%;
}

}