/* font import */
@font-face {
    font-family: retro;
    src: url(Font/retro.ttf);
 }

 /* variable color palette */
:root{

  --background: black;
  --text: white;
}

 html
 {
  max-width: 800px;
  margin: auto;
  background: var(--background);
  padding: 20px;
  border: 2px solid red;
 }

 
 ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
  
  }
  
  li {
    display: inline-block;
    
  }
  
  li a {
    
    padding: 18px;
    margin: 20px;
    text-decoration: none;
    color: var(--text);
    font-family: retro;
  }
.intro{
  margin-top: 200px;
    color: var(--text);
    text-align: left;
    font-family: retro;
    
}

